*{
		padding:0px;
		margin:0px;
		font-family:Microsoft YaHei;
	}
	.topbar{
		height:26px;
		background-color:#f2f2f2;
		font-size:12px;
		line-height:26px;
		color:#999;
		/*font-weight:bold;*/
	}
	.main{
		width:1200px;
		margin:0px auto;
		background-color:#f9f9f9;
	}
	.main-left{
		float:left;
	}

	.main-right{
		float:right;
	}
	.main a{
		text-decoration:none;
		color:#999;
		margin:0px 5px;
	}
	.main .CSTel{
		color:#c00;
		font-weight:bold;
		
	}
	.main .MineJX{
		float:left;
		width:80px;
		cursor:pointer;

	}
	.main .MineJXW span{
		float:left;
		
	}	
	
	
	.clear{
     clear:both;
	}	
.main .MineJXIcon{
		width:15px;
		height:15px;
		background:url(../../public/imgs/public-24.png) no-repeat -99px 8px;
		margin-top:5px;
		float:left;
		margin-left:5px;

	}
	/*	.main .MineJXIcon{
		width:15px;
		height:15px;
		background:url(../public/imgs/public-24.png) no-repeat -99px 8px;
		transform:rotate(180deg);
		margin-top:7px;
		margin-left:0px;
		float:left;
	}*/

	




	.main .MineJXDropBox{
		position:absolute;
		background:#fff;
		display:none;
		padding: 0px 10px;
		
		text-align:left;



       

	}
	.main .MineJXDropBox ul{
		 list-style:none;

	}

	.main .CEOEmail{
		color:#c00;
	}
	.main .cart-number{
		color:#c00;
		font-weight:bold;
	}
	.main .CLUBMenber{
		color:#c00;
	}
	.main .JXMobile{
		background-color:#c01;
		border-radius:2px;
		color:#fff;

	}

	.main .JXMobileIcon{
		padding-left:15px;
		background:url(../../public/imgs/public-24.png) no-repeat -62px 1px;
	}

	.main .cart{
		background:url(../../public/imgs/public-24.png) no-repeat -18px 3px;
		padding-left:15px;
	}

	.main .daohang{
		background:url(../../public/imgs/public-24.png) no-repeat -80px 2px;
		padding-left:15px;
	}

	.main .CServers{
		background:url(../../public/imgs/public-24.png) no-repeat -90px -263px;
		padding-left:15px;
	}
	.TopBanner{
		background:url(../imgs/TopBanner.jpg) no-repeat ;
		height:90px;
		/*overflow:none;*/
		/*margin-left:-320px;*/
		
	}
	.searchTopBar{
		background:#fff;
	}
	.searchBar{
		width:1200px;
		height:125px;
		
		margin:0 auto;
	}
	.searchBar-left1{
		float:left;
	}
	.searchBar-left1 img{
        margin-top:30px;
	}
	.searchBar-left1 :first-child{
		margin-right:10px;
	}

	.searchBar-left2{
		float:left;
		width:540px;
		height:61px;
		
		
		margin-left:20px;
		margin-top:32px;
	}
	.searchBar .searchBar-right{
		/*width:363px;*/
		height:64px;
		float:right;
		margin-top:33px;
	}
	.searchHome{
		width:534px;
		height:32px;
		background:#f00;
		border:3px solid #c00;
	}
	.searchHome input{
		width:439px;
		height:22px;
		border:0 none;
		padding:5px;
		line-height:22px;
	}
	.searchHome input:focus{
		outline:none;
	}

	.searchHome button{
		width:85px;
		height:32px;
		float:right;
		border:0 none;
		line-height:32px;
		background:#c00;
		color:#fff;
	}
	.hotWord{
		width:540px;
		height:18px;
		/*background:#f00;*/
		padding-top:5px;
		position:relative;
		left:-8px;
		
		line-height:18px;
	}
	.hotWord p {
		height:18px;
        line-height:18px;
        overflow:hidden;
        position:relative;
        left:-5px;
	}
	.hotWord p a{
	    float:left;
	    display:inline-block;
	    color:#999;
	    padding:0 8px;
	    height:18px;
		position:relative;
		font-size:12px;
		text-decoration:none;
	}

	.hotWord p a s{
		border-left:1px solid #999;
		position:absolute;
		/*display:block;*/
		height:12px;
		top:3px;
		left:-1px;
	}
/*横导航 start*/
.navList{
	list-style:none;
	height:34px;
	float:left;
}
.navList li{
    float:left;
    list-style:none;
    height:34px;
    line-height:34px;
    padding:0px 22px;
    position:relative;
}
.navList li a{
	text-decoration:none;
	color:#fff;

}
.navList li:first-child{
	background:#b40c10;
}

.navList li:hover{
	background:#b40c10;
}
.publicIcon{
	background:url(../../public/imgs/public-24.png) no-repeat;
}
.navList .hot{
	background-position:0 -264px;
	height:17px;
	width:29px;
	position:absolute;

	top:-9px;
	left:74px;
}
.navList .new{
	background-position:-36px -264px;
	height:17px;
	width:29px;
	position:absolute;
	top:-9px;
	left:81px;
}
.navPromotion{
	float:right;
}
/*顶部商品分类 */
.navWarp{
	height:34px;
	width:100%;
	background:#900;
	float:left;
}
.navWarp .nav{
	height:34px;
	width:1200px;
/*	background:#00f;*/
	margin:0 auto;
}
.navWarp .nav .navCategoryMenu{
	height:34px;
	width:190px;
	background:#ce171f;
	float:left;

}
.navCategoryMenu h2{
	color:#fff;
	font-size:14px;
	line-height:34px;
	text-align:center;
}
.navCategoryMenu ul{
	list-style:none;
	position:relative;
	z-index:1;
	background:#fff;
}

.navCategoryMenu li{
	border-bottom:1px solid #e4e4e4;
	height:80px;
}
.categoryBox{
	
/*	padding:3px;*/

}
.categoryBox li h3 i{
	width:14px;
	height:20px;
	display:inline-block;
	margin-right:10px;
	position:relative;
	top:5px;
}
.catItemCon{
	padding:0px 10px;
}
.catItemCon h3{
	color:#333;
	font-size:14px;
	line-height:32px;
	padding-top:3px;
}
.selectWine{
	background:url(../../public/imgs/public-24.png) no-repeat -73px -260px;
}
.liquor{
	background:url(../../public/imgs/public-24.png) no-repeat 2px -100px;
}
.wine{
	background:url(../../public/imgs/public-24.png) no-repeat -16px -102px;
}

.yang{
	background:url(../../public/imgs/public-24.png) no-repeat -37px -100px;
}

.health{
	background:url(../../public/imgs/public-24.png) no-repeat -59px -100px;
}

.wineTool{
	background:url(../../public/imgs/public-24.png) no-repeat -79px -98px;
}

.categoryCon{
	color:#666;
	font-size:12px;
}
.categoryCon p a{
	text-decoration:none;
	color:#666;
	margin:2px 0px;
	padding:0px 4px;
	float:left;
}
.categoryCon .highWord{
	background:#f90;
	color:#fff;
	border-radius:3px;
	margin-right:3px;

}
.catItemRight{
	background:#fff;
	width:620px;
	height:470px;
	position:absolute;
	top:0px;
	left:190px;
	/*display:none;*/
}
.catItemRight-Left{
	float:left;
	width:400px;
}
.colorCover{
	
	background:#f1f1f1;
	width:90px;
	height:470px;
	

	
	
}
.catItemRight-Left-Cover{
	
	position:relative;
	
}
.catItemWenCover{
	float:left;
	/*background:#ccc;*/
}
.catItemWen{
	width:400px;
	/*height:470px;*/
	/*background:#ccc;*/
	float:left;

}
.catItemWen .catItemHead{
	width:60px;
	/*background-color:#ccc;*/
	float:left;
	text-align:right;
	padding:10px 10px 10px 20px;
	line-height:22px;

}
h4{
	font-size:12px;
}

.catItemWen .catItemTail a.hot{
	color:#f60;
}

.catItemWen .catItemTail{
	width:280px;
  /*  background-color:#ccc;*/
	float:left;
	padding:15px 0px 10px 0px;
	margin:0px 15px;
	border-style:none none dotted none;
	border-width:1px;
	margin:0 5px;
}

.catItemWen .catItemTail a{
	display:inline-block;
	padding:0px 8px;
	line-height:22px;
	font-size:12px;
	text-decoration:none;
	color:#666;
	background:url(../imgs/menuLine.jpg) no-repeat scroll right center;


}

.catItemRight-Right{
	float:left;
}

.catItemPic{

	width:220px;
	/*height:470px;*/
    background:#eee;
    float:left;

}
.catItemPic img{
	display:block;
}
.clear{
	clear:both;
}
/*顶部跑马灯*/
	.window{
			width:1920px;
			height:470px;
			position:relative;
			overflow:hidden;
		}
		.pictureReel{
		position:absolute;
		}
		.pictureReel img{
			float:left;
		}
		.paging{
			position:absolute;
			bottom:10px;
			right:900px;
			width:200px;
			height:20px;
			display:none;
		}
		.paging a{
			text-decoration:none;
			border-radius:50%;
			box-shadow:0 0 3px;
			color:#fff;
			background:#000;
			width:20px;
			height:20px;
			display:inline-block;
			line-height:20px;
			text-align:center;
		}
		.paging a.active{
			background:#dd102e;
		}
		.active :hover{
			font-weight:bold;
		}
/*顶部跑马灯*/
/*第二部分 start*/
.mainWrap{
	background:f9f9f9;
	padding:10px 0px;
	
}
.mainWrapK{
	width:1200px;
	margin:0 auto;
/*	height:2000px;*/
	position:relative;
	/*position:fixed;*/
}

.secondAD-left{
	position:absolute;
	top:0px;
	left:-500px;
	width:500px;
	height:1000px;
	background:url(../imgs/left.png) no-repeat top left;

}
.secondAD-right{
    position:absolute;
    top:0px;
    right:-500px;
    width:500px;
	height:1000px;
	background:url(../imgs/right.png) no-repeat top right;

}
/*第二部分 end*/
.firstFloorW-left{
	width:920px;
	height:200px;
	background:#ccc;
	float:left;

}

.firstFloorW-right{
	width:270px;
	height:500px;	
	background:#ccc;
	float:left;
	margin-left:10px;
}
.firstFloorWHead{
	position:relative;
}
.firstFloorWHead .headLi{
	width:182px;
	height:35px;
	background:#f9f9f9;
	float:left;
	list-style:none;
	text-align:center;
	line-height:35px;
	border: 1px solid #ccc;
	border-right: 0px;

}
.firstFloorWTail{
	width:920px;
	height:463px;
	background:#ccc;
	position:absolute;
	left:0px;
	top:37px;

}
.firstFloorWTail .jiuTuLi{
	width:182px;
	height:196px;
	background:#eee;
	font-size:12px;
	line-height:normal;
	text-align:left;
	color:rgb(205,1,0);
	float:left;
	margin-top:20px;
}
.jiuTuLi a{
	text-decoration:none;
	color:#000;
	
}
.firstFloorWTail .jiuTu{
	position:relative;
}

.jiuTu img{
	display:block;
	margin:0 auto;
}

.firstFloorWTail .jiuTu .TagBg{
	width:45px;
	height:55px;
	position:absolute;
	top:4px;
	right:0px;
	padding-top:3px;
	background:url(../imgs/TagBg.png) no-repeat top left;
}
.firstFloorWTail .jiuTu .TagBg p{
	text-align:center;
	color:#fff;
}

.firstFloorWTail li{
	list-style:none;
}

/*一楼右边部分 start*/
.firstFloorW-right{
	width:270px;
	height:500px;	
	float:left;
	margin-left:10px;
}
.firstFloorW-right-up{
	width:270px;
	height:160px;
	position:relative;
}
.firstFloorW-right-up li{
	width:133px;
	height:35px;
	background:#fff;
	float:left;
	list-style:none;
	line-height:35px;
	text-align:center;
	border:1px solid #ccc;
	/*position:relative;*/
}
.firstFloorW-right-up-inside{
	width:270px;
	height:105px;
	background:#ccc;
	position:absolute;
	left:0px;
	top:37px;


}
.firstFloorW-right-up-inside li{jiu
	float:left;
	list-style:none;
	font-size:12px;
	border:0px;
}

.firstFloorW-right-up-inside li a{
	text-decoration:none;
	color:#000;
}

.firstFloorW-right-middle{
	width:270px;
	height:158px;
   /* background:#f00;*/
}

.firstFloorW-right-bottom{
	width:270px;
	height:178px;
    background:#eee;
}

/*一楼中部跑马灯start*/
.mainFm{
	position:relative;
	margin:0 auto;
	/*background:#ccc;*/
	/*outline:3px solid #0ff;*/
	/*height:100px;
	width:200px;*/
	overflow:hidden;
}
.picWarpFm{
	position:absolute;
	/*height:100px;
	width:600px;*/
}

.mainFm img{
	float:left;
	/*height:100px;
	width:200px;*/
}
.mainFm a{
	text-decoration:none;
	color:#000;
   /* padding:5px;*/

}
.activeFm{
	background:#f00;
	color:#fff;

}

.picButtonFm{
	position:absolute;
	bottom:15px;
	right:15px;
}
.picButtonFm .hideFm{
	display:none;
}
/*一楼中部跑马灯end*/
/*一楼底部跑马灯start*/
.mainFb{
	position:relative;
	margin:0 auto;
	/*background:#ccc;*/
	/*outline:3px solid #0ff;*/
	/*height:100px;
	width:200px;*/
	overflow:hidden;
}
.picWarpFb{
	position:absolute;
	/*height:100px;
	width:600px;*/
}

.mainFb img{
	float:left;
	/*height:100px;
	width:200px;*/
}
.mainFb a{
	text-decoration:none;
	color:#000;
   /* padding:5px;*/

}
.activeFb{
	background:#f00;
	color:#fff;

}

.picButtonFb{
	position:absolute;
	bottom:15px;
	right:15px;
}
.picButtonFb .hideFb{
	display:none;
}
/*一楼底部跑马灯end*/
/*一楼右边部分 end*/
/*中间广告位start*/
.middleAd{
	width:1200px;
	height:130px;
	margin:10px auto;
	background:url(../imgs/middleAdBg.jpg) no-repeat 0px 0px;
	
	
}
.clear{
	clear:both;
}

.middleFloatAd{
	float:left;
	margin:0px 55px;
}

/*中间广告位end*/
/*第四部分优惠推荐start*/
.fourthAD{
	width:1200px;
	height:320px;
	margin:10px auto;
	position:relative;
	border:1px solid #ccc;
	position:relative;
}
.fourthADHead{
	width:1200px;
	height:40px;
	padding:30px 0px 10px 0px;

}
.fourthADIcon{
	position:absolute;
	top:50px;
	right:0px;
}
.fourthADIcon li{
	display:inline-block;
	width:9px;
	height:9px;
	background-color:#ccc;
	margin:5px;

}
.fourthADHead span{
	line-height:20px;
	font-size:17px;
}
.yhtj{
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../imgs/newIndexIcon-24.png) no-repeat ;
	line-height:20px;
	margin:20px 10px 0px 1px;
}
.fourthADTailC{
	width:1200px;
	height:260px;
	overflow:hidden;
}
.fourthADTail{
	width:3600px;
	height:260px;
	/*background-color:#e00;*/
	position:relative;
	
}
.fourthADTail li{
	float:left;
	list-style:none;
}
.fourthADList{
	width:200px;
	height:260px;
	/*background-color:#0f0;*/
	position:relative;

}
.fourthADList .fourthADListC{
  
   font-size:12px;
   text-overflow:ellipsis;
   overflow:hidden;
   white-space:nowrap;
}
.fourthADListC a{
   text-decoration:none;
   color:#000;
}
.fourthADLeft{
	width:27px;
	height:56px;
	background:url(../imgs/newIndexIcon-24.png) no-repeat 0px -28px;
    position:absolute;
	top:140px;
	left:0px;
}
.fourthADRight{
	width:27px;
	height:56px;
	background:url(../imgs/newIndexIcon-24.png) no-repeat -28px -28px;
	position:absolute;
	top:140px;
	right:0px;
	
}
.fourthADList p{
	font-size:15px;
	color:#f00;
} 
.fourthADListF{
	position:absolute;
	top:0px;
	right:7px;
	width:45px;
	height:55px;
	background:url(../imgs/TagBg.png) no-repeat;
}
.fourthADListF p{
	text-align:center;
	color:#fff;
}
.fourthADCounter{
	font-size:12px;
}
.fourthADCounter span{
	color:#f00;
}
.fourthADCounter{
	margin:10px 5px;
}
.fourthADIcon{
	cursor:pointer;
}
.ADActive{
	
}
/*第四部分优惠推荐end*/
/*一楼白酒馆start*/
.whiteWine{
	margin:0 auto;
	width:1200px;
	height:700px;
	/*background-color:#f00;*/
}
/*白酒馆头部start*/
.whiteWineTail{
	height:40px;
	/*background-color:#0f0*/;
}
.whiteWineTailLeft{
	float:left;
	margin-right:751px;
	line-height:40px;
	vertical-align:middle;

}
.whiteWineTailLeft .wWicon{
	display:inline-block;
    height:29px;
    width:28px;
    line-height:29px;
    vertical-align:middle;
    text-align:center;
    margin-right:5px;
    color:#fff;
    font-size:18px;
    font-family:Arial;
    font-style:normal;
    background:url(../imgs/newIndexIcon-24.png) no-repeat 0px -95px;
}
.whiteWineTailRight li{
	display:inline-block;
	float:left;
	list-style:none;
	font-size:12px;
	padding-left:7px;
	line-height:40px;
	vertical-align:middle;
}


.whiteWineTailRight li:last-child{
	background-color:#d43d4e;
	color:#fff;
	padding:0px;
	display:inline-block;
	width:52px;
	height:16px;
	line-height:16px;
    margin-top:12px;
	text-align:center;
}
.whiteWineTailRight a{
		text-decoration:none;
		color:#999;
}
.whiteWineTailRight li:last-child a{
		
		color:#fff;
}
.whiteWineTailRight a:hover{
		text-decoration:underline;
		color:#f00;
}
/*白酒馆头部end		*/
/*白酒馆主体start*/
.whiteWineBody{
	width:1198px;
	height:485px;
	/*background-color:#00c;*/
	border-top:2px solid #c94b56;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*白酒馆中部左边start*/
.whiteWineBodyLeft{
	width:210px;
	height:485px;
	/*background-color:#eee;*/
	float:left;

}
/*白酒馆中部左边跑马灯start*/

.mainWw{
	position:relative;
	margin:0 auto;
	/*background:#ccc;*/
	/*outline:3px solid #0ff;*/
	/*height:100px;
	width:200px;*/
	overflow:hidden;
}
.picWarpWw{
	position:absolute;
	/*height:100px;
	width:600px;*/
}

.mainWw img{
	float:left;
	/*height:100px;
	width:200px;*/
}
.mainWw a{
	text-decoration:none;
	color:#000;
   /* padding:5px;*/

}
.activeWw{
	background:#f00;
	color:#fff;

}

.picButtonWw{
	position:absolute;
	bottom:15px;
	right:15px;
}
.picButtonWw .hideWw{
	display:none;
}
/*白酒馆中部左边跑马灯end*/

/*白酒馆中部左边end*/
/*白酒馆中部右边end*/

.whiteWineBodyRight{
	width:988px;
	height:485px;
	/*background-color:#0f0;*/
	float:left;
}

.whiteWineBodyRight li{
	float:left;
	list-style:none;
	width:196px;
	height:232px;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	padding-top:10px;


}
.whiteWineBodyRight li img{
	display:block;
}

.whiteWineBodyRight a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.whiteWineBodyRight a:hover{
	color:rgb(205,1,0);
	text-decoration:underline;
}

.whiteWineBodyRight li div:last-child{
	color:rgb(205,1,0);
}
.whiteWineBodyRight .club{
	display:inline-block;
	width:40px;
	height:14px;
	background:url(../imgs/clubIcon.png)
}
.whiteWineBodyRight li div:first-child{
	position:relative;
}
.whiteWineBodyRight .wwSpan{
	position:absolute;
	top:0px;
	right:0px;
	width:45px;
	height:55px;
	background:url(../imgs/TagBg.png)
}
.whiteWineBodyRight .wwSpan p{
	color:#fff;
	text-align:center;
	font-size:12px;
	}

/*白酒馆中部右边end*/
/*白酒馆主体end*/
/*白酒馆下部start*/
.whiteWineBottom{
	/*height:200px;*/
	/*background-color:#0f0;*/
	height:160px;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*白酒馆下部左边start*/
.whiteWineBottomLeft{
	float:left;
	width:211px;
	/*background-color:#f00;*/

}
.whiteWineBottomLeft li{
	list-style:none;			
	padding-top:20px;
}
.whiteWineBottomLeft li i{
	display:inline-block;
	width:3px;
	height:3px;
	background-color:#d02229;
	vertical-align:middle;
	margin:5px;

}
.whiteWineBottomLeft li span{
	font-size:14px;
	color:#c00;
	font-weight:bold;
	padding:5px;
}

.whiteWineBottomLeft li a{
	text-decoration:none;
	color:#666;
	font-size:12px;
	padding-left:15px;

}
/*白酒馆下部左边end*/
/*白酒馆下部右边start*/
.whiteWineBottomRight{
	float:left;
	width:985px;
	height:162px;
}

.whiteWineBottomRightTop{
	line-height:32px;
}
.whiteWineBottomRightTop-left{
    float:left;
}
.whiteWineBottomRightTop-left i{
    display:inline-block;
    width:11px;
    height:13px;
    margin:5px;
    vertical-align:middle;
    background:url(../imgs/newIndexIcon-24.png) no-repeat -38px 0px;
	}
.whiteWineBottomRightTop-left span{
	color:#d43d4e;
	font-size:12px;
	font-weight:bold;
}
.whiteWineBottomRightTop-right{
	float:right;
}

.whiteWineBottomRightTop-right a{
   text-decoration:none;
   color:#666;
   font-size:12px;
   padding:0 5px;
}

/*.whiteWineBottomRightTop-right a:hover{
   text-decoration:underline;
   color:#cc0001;
   
}*/
.whiteWineBottomRightTop-right span{
	font-size:12px;
	color:#ccc;
}


.whiteWineBottomRightBottom{
	float:left;
	height:127px;
	display:none;
}
.first{
	display:block;
	/*background-color:#f00;*/
	
}
.whiteWineBottomRightBottom li{
	float:left;
	height:100px;
	width:197px;
	height:90px;
	list-style:none;
	padding-top:18px;
}
.wwImgWarp{
    float:left;
    padding-left:20px;
}
.wwImg{
	float:left;
}
.wwImg img{
	width:90px;
	height:90px;
	display:block;
}
.wwP{
	float:left;
	font-size:12px;
	width:80px;
	line-height:18px;
	padding-top:5px;
	/*white-space:nowrap;*/
}
.wwP a{
	text-decoration:none;
	color:#666;
}
.wwP a:hover{
	text-decoration:underline;
	color:#cc0001;
}
.wwPPrice{
	font-size:15px;
	color:#CD0100;
	margin-top:10px;
}
/*白酒馆下部右边end*/
/*白酒馆下部end*/
/*一楼白酒馆end*/
/*二楼红酒馆start*/
.redWine{
	margin:0 auto;
	width:1200px;
	height:700px;
	/*background-color:#f00;*/
}
/*红酒馆头部start*/
.redWineTail{
	height:40px;
	/*background-color:#0f0*/;
}
.redWineTailLeft{
	float:left;
	margin-right:705px;
	line-height:40px;
	vertical-align:middle;

}
.redWineTailLeft .rWicon{
	display:inline-block;
    height:29px;
    width:28px;
    line-height:29px;
    vertical-align:middle;
    text-align:center;
    margin-right:5px;
    color:#fff;
    font-size:18px;
    font-family:Arial;
    font-style:normal;
    background:url(../imgs/newIndexIcon-24.png) no-repeat 0px -95px;
}
.redWineTailRight li{
	display:inline-block;
	float:left;
	list-style:none;
	font-size:12px;
	padding-left:7px;
	line-height:40px;
	vertical-align:middle;
}


.redWineTailRight li:last-child{
	background-color:#d43d4e;
	color:#fff;
	padding:0px;
	display:inline-block;
	width:52px;
	height:16px;
	line-height:16px;
    margin-top:12px;
	text-align:center;
}
.redWineTailRight a{
		text-decoration:none;
		color:#999;
}
.redWineTailRight li:last-child a{
		
		color:#fff;
}
.redWineTailRight a:hover{
		text-decoration:underline;
		color:#f00;
}
/*红酒馆头部end		*/
/*红酒馆主体start*/
.redWineBody{
	width:1198px;
	height:485px;
	/*background-color:#00c;*/
	border-top:2px solid #c94b56;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*红酒馆中部左边start*/
.redWineBodyLeft{
	width:210px;
	height:485px;
	/*background-color:#eee;*/
	float:left;

}
/*红酒馆中部左边跑马灯start*/

.mainrW{
	position:relative;
	margin:0 auto;
	/*background:#ccc;*/
	/*outline:3px solid #0ff;*/
	/*height:100px;
	width:200px;*/
	overflow:hidden;
}
.picWarprW{
	position:absolute;
	/*height:100px;
	width:600px;*/
}

.mainrW img{
	float:left;
	/*height:100px;
	width:200px;*/
}
.mainrW a{
	text-decoration:none;
	color:#000;
   /* padding:5px;*/

}
.activerW{
	background:#f00;
	color:#fff;

}

.picButtonrW{
	position:absolute;
	bottom:15px;
	right:15px;
}
.picButtonrW .hiderW{
	display:none;
}
/*红酒馆中部左边跑马灯end*/

/*红酒馆中部左边end*/
/*红酒馆中部右边end*/

.redWineBodyRight{
	width:988px;
	height:485px;
	/*background-color:#0f0;*/
	float:left;
}

.redWineBodyRight li{
	float:left;
	list-style:none;
	width:196px;
	height:232px;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	padding-top:10px;


}
.redWineBodyRight li img{
	display:block;
}

.redWineBodyRight a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.redWineBodyRight a:hover{
	color:rgb(205,1,0);
	text-decoration:underline;
}

.redWineBodyRight li div:last-child{
	color:rgb(205,1,0);
}
.redWineBodyRight .club{
	display:inline-block;
	width:40px;
	height:14px;
	background:url(../imgs/clubIcon.png)
}
.redWineBodyRight li div:first-child{
	position:relative;
}
.redWineBodyRight .rWSpan{
	position:absolute;
	top:0px;
	right:0px;
	width:45px;
	height:55px;
	background:url(../imgs/TagBg.png)
}
.redWineBodyRight .rWSpan p{
	color:#fff;
	text-align:center;
	font-size:12px;
	}

/*红酒馆中部右边end*/
/*红酒馆主体end*/
/*红酒馆下部start*/
.redWineBottom{
	/*height:200px;*/
	/*background-color:#0f0;*/
	height:160px;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*红酒馆下部左边start*/
.redWineBottomLeft{
	float:left;
	width:211px;
	/*background-color:#f00;*/

}
.redWineBottomLeft li{
	list-style:none;			
	padding-top:20px;
}
.redWineBottomLeft li i{
	display:inline-block;
	width:3px;
	height:3px;
	background-color:#d02229;
	vertical-align:middle;
	margin:5px;

}
.redWineBottomLeft li span{
	font-size:14px;
	color:#c00;
	font-weight:bold;
	padding:5px;
}

.redWineBottomLeft li a{
	text-decoration:none;
	color:#666;
	font-size:12px;
	padding-left:15px;

}
/*红酒馆下部左边end*/
/*红酒馆下部右边start*/
.redWineBottomRight{
	float:left;
	width:985px;
	height:162px;
}

.redWineBottomRightTop{
	line-height:32px;
}
.redWineBottomRightTop-left{
    float:left;
}
.redWineBottomRightTop-left i{
    display:inline-block;
    width:11px;
    height:13px;
    margin:5px;
    vertical-align:middle;
    background:url(../imgs/newIndexIcon-24.png) no-repeat -38px 0px;
	}
.redWineBottomRightTop-left span{
	color:#d43d4e;
	font-size:12px;
	font-weight:bold;
}
.redWineBottomRightTop-right{
	float:right;
}

.redWineBottomRightTop-right a{
   text-decoration:none;
   color:#666;
   font-size:12px;
   padding:0 5px;
}

/*.redWineBottomRightTop-right a:hover{
   text-decoration:underline;
   color:#cc0001;
   
}*/
.redWineBottomRightTop-right span{
	font-size:12px;
	color:#ccc;
}


.redWineBottomRightBottom{
	float:left;
	height:127px;
	display:none;
}
.first{
	display:block;
	/*background-color:#f00;*/
	
}
.redWineBottomRightBottom li{
	float:left;
	height:100px;
	width:197px;
	height:90px;
	list-style:none;
	padding-top:18px;
}
.rWImgWarp{
    float:left;
    padding-left:20px;
}
.rWImg{
	float:left;
}
.rWImg img{
	width:90px;
	height:90px;
	display:block;
}
.rWP{
	float:left;
	font-size:12px;
	width:80px;
	line-height:18px;
	padding-top:5px;
	/*white-space:nowrap;*/
}
.rWP a{
	text-decoration:none;
	color:#666;
}
.rWP a:hover{
	text-decoration:underline;
	color:#cc0001;
}
.rWPPrice{
	font-size:15px;
	color:#CD0100;
	margin-top:10px;
}
/*红酒馆下部右边end*/
/*红酒馆下部end*/
/*二楼红酒馆end*/
/*三楼洋酒馆start*/
.yangWine{
	margin:0 auto;
	width:1200px;
	height:539px;
	/*background-color:#f00;*/
}
/*洋酒馆头部start*/
.yangWineTail{
	height:40px;
	/*background-color:#0f0*/;
}
.yangWineTailLeft{
	float:left;
	margin-right:679px;
	line-height:40px;
	vertical-align:middle;

}
.yangWineTailLeft .yWicon{
	display:inline-block;
    height:29px;
    width:28px;
    line-height:29px;
    vertical-align:middle;
    text-align:center;
    margin-right:5px;
    color:#fff;
    font-size:18px;
    font-family:Arial;
    font-style:normal;
    background:url(../imgs/newIndexIcon-24.png) no-repeat 0px -95px;
}
.yangWineTailRight li{
	display:inline-block;
	float:left;
	list-style:none;
	font-size:12px;
	padding-left:7px;
	line-height:40px;
	vertical-align:middle;
}


.yangWineTailRight li:last-child{
	background-color:#d43d4e;
	color:#fff;
	padding:0px;
	display:inline-block;
	width:52px;
	height:16px;
	line-height:16px;
    margin-top:12px;
	text-align:center;
}
.yangWineTailRight a{
		text-decoration:none;
		color:#999;
}
.yangWineTailRight li:last-child a{
		
		color:#fff;
}
.yangWineTailRight a:hover{
		text-decoration:underline;
		color:#f00;
}
/*洋酒馆头部end		*/
/*洋酒馆主体start*/
.yangWineBody{
	width:1198px;
	height:485px;
	/*background-color:#00c;*/
	border-top:2px solid #c94b56;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*洋酒馆中部左边start*/
.yangWineBodyLeft{
	width:210px;
	height:485px;
	/*background-color:#eee;*/
	float:left;

}
/*洋酒馆中部左边跑马灯start*/

.mainyW{
	position:relative;
	margin:0 auto;
	/*background:#ccc;*/
	/*outline:3px solid #0ff;*/
	/*height:100px;
	width:200px;*/
	overflow:hidden;
}
.picWarpyW{
	position:absolute;
	/*height:100px;
	width:600px;*/
}

.mainyW img{
	float:left;
	/*height:100px;
	width:200px;*/
}
.mainyW a{
	text-decoration:none;
	color:#000;
   /* padding:5px;*/

}
.activeyW{
	background:#f00;
	color:#fff;

}

.picButtonyW{
	position:absolute;
	bottom:15px;
	right:15px;
}
.picButtonyW .hideyW{
	display:none;
}
/*洋酒馆中部左边跑马灯end*/

/*洋酒馆中部左边end*/
/*洋酒馆中部右边end*/

.yangWineBodyRight{
	width:988px;
	height:485px;
	/*background-color:#0f0;*/
	float:left;
}

.yangWineBodyRight li{
	float:left;
	list-style:none;
	width:196px;
	height:232px;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	padding-top:10px;


}
.yangWineBodyRight li img{
	display:block;
}

.yangWineBodyRight a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.yangWineBodyRight a:hover{
	color:rgb(205,1,0);
	text-decoration:underline;
}

.yangWineBodyRight li div:last-child{
	color:rgb(205,1,0);
}
.yangWineBodyRight .club{
	display:inline-block;
	width:40px;
	height:14px;
	background:url(../imgs/clubIcon.png)
}
.yangWineBodyRight li div:first-child{
	position:relative;
}
.yangWineBodyRight .yWSpan{
	position:absolute;
	top:0px;
	right:0px;
	width:45px;
	height:55px;
	background:url(../imgs/TagBg.png)
}
.yangWineBodyRight .yWSpan p{
	color:#fff;
	text-align:center;
	font-size:12px;
	}

/*洋酒馆中部右边end*/
/*洋酒馆主体end*/
/*洋酒馆下部start*/
.yangWineBottom{
	/*height:200px;*/
	/*background-color:#0f0;*/
	height:160px;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*洋酒馆下部左边start*/
.yangWineBottomLeft{
	float:left;
	width:211px;
	/*background-color:#f00;*/

}
.yangWineBottomLeft li{
	list-style:none;			
	padding-top:10px;
}
.yangWineBottomLeft li i{
	display:inline-block;
	width:3px;
	height:3px;
	background-color:#d02229;
	vertical-align:middle;
	margin:5px;

}
.yangWineBottomLeft li span{
	font-size:14px;
	color:#c00;
	font-weight:bold;
	padding:5px;
}

.yangWineBottomLeft li a{
	text-decoration:none;
	color:#666;
	font-size:12px;
	padding-left:15px;

}
/*洋酒馆下部左边end*/
/*洋酒馆下部右边start*/
.yangWineBottomRight{
	float:left;
	width:985px;
	height:162px;
}

.yangWineBottomRightTop{
	line-height:32px;
}
.yangWineBottomRightTop-left{
    float:left;
}
.yangWineBottomRightTop-left i{
    display:inline-block;
    width:11px;
    height:13px;
    margin:5px;
    vertical-align:middle;
    background:url(../imgs/newIndexIcon-24.png) no-repeat -38px 0px;
	}
.yangWineBottomRightTop-left span{
	color:#d43d4e;
	font-size:12px;
	font-weight:bold;
}
.yangWineBottomRightTop-right{
	float:right;
}

.yangWineBottomRightTop-right a{
   text-decoration:none;
   color:#666;
   font-size:12px;
   padding:0 5px;
}

/*.yangWineBottomRightTop-right a:hover{
   text-decoration:underline;
   color:#cc0001;
   
}*/
.yangWineBottomRightTop-right span{
	font-size:12px;
	color:#ccc;
}


.yangWineBottomRightBottom{
	float:left;
	height:127px;
	display:none;
}
.first{
	display:block;
	/*background-color:#f00;*/
	
}
.yangWineBottomRightBottom li{
	float:left;
	height:100px;
	width:197px;
	height:90px;
	list-style:none;
	padding-top:18px;
}
.yWImgWarp{
    float:left;
    padding-left:20px;
}
.yWImg{
	float:left;
}
.yWImg img{
	width:90px;
	height:90px;
	display:block;
}
.yWP{
	float:left;
	font-size:12px;
	width:80px;
	line-height:18px;
	padding-top:5px;
	/*white-space:nowrap;*/
}
.yWP a{
	text-decoration:none;
	color:#666;
}
.yWP a:hover{
	text-decoration:underline;
	color:#cc0001;
}
.yWPPrice{
	font-size:15px;
	color:#CD0100;
	margin-top:10px;
}
/*洋酒馆下部右边end*/
/*洋酒馆下部end*/
/*三楼洋酒馆end*/
/*四楼养生酒馆start*/
.yangShengWine{
	margin:0 auto;
	width:1200px;
	height:539px;
	/*background-color:#f00;*/
}
/*养生酒馆头部start*/
.yangShengWineTail{
	height:40px;
	/*background-color:#0f0*/;
}
.yangShengWineTailLeft{
	float:left;
	margin-right:587px;
	line-height:40px;
	vertical-align:middle;

}
.yangShengWineTailLeft .ySWineicon{
	display:inline-block;
    height:29px;
    width:28px;
    line-height:29px;
    vertical-align:middle;
    text-align:center;
    margin-right:5px;
    color:#fff;
    font-size:18px;
    font-family:Arial;
    font-style:normal;
    background:url(../imgs/newIndexIcon-24.png) no-repeat 0px -95px;
}
.yangShengWineTailRight li{
	display:inline-block;
	float:left;
	list-style:none;
	font-size:12px;
	padding-left:7px;
	line-height:40px;
	vertical-align:middle;
}



.yangShengWineTailRight a{
		text-decoration:none;
		color:#999;
}

.yangShengWineTailRight a:hover{
		text-decoration:underline;
		color:#f00;
}
/*养生酒馆头部end		*/
/*养生酒馆主体start*/
.yangShengWineBody{
	width:1198px;
	height:485px;
	/*background-color:#00c;*/
	border-top:2px solid #c94b56;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*养生酒馆中部左边start*/
.yangShengWineBodyLeft{
	width:210px;
	height:485px;
	/*background-color:#eee;*/
	float:left;

}
/*养生酒馆中部左边跑马灯start*/

.mainySWine{
	position:relative;
	margin:0 auto;
	/*background:#ccc;*/
	/*outline:3px solid #0ff;*/
	/*height:100px;
	width:200px;*/
	overflow:hidden;
}
.picWarpySWine{
	position:absolute;
	/*height:100px;
	width:600px;*/
}

.mainySWine img{
	float:left;
	/*height:100px;
	width:200px;*/
}
.mainySWine a{
	text-decoration:none;
	color:#000;
   /* padding:5px;*/

}
.activeySWine{
	background:#f00;
	color:#fff;

}

.picButtonySWine{
	position:absolute;
	bottom:15px;
	right:15px;
}
.picButtonySWine .hideySWine{
	display:none;
}
/*养生酒馆中部左边跑马灯end*/

/*养生酒馆中部左边end*/
/*养生酒馆中部右边end*/

.yangShengWineBodyRight{
	width:988px;
	height:485px;
	/*background-color:#0f0;*/
	float:left;
}

.yangShengWineBodyRight li{
	float:left;
	list-style:none;
	width:196px;
	height:232px;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	padding-top:10px;


}
.yangShengWineBodyRight li img{
	display:block;
}

.yangShengWineBodyRight a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.yangShengWineBodyRight a:hover{
	color:rgb(205,1,0);
	text-decoration:underline;
}

.yangShengWineBodyRight li div:last-child{
	color:rgb(205,1,0);
}
.yangShengWineBodyRight .club{
	display:inline-block;
	width:40px;
	height:14px;
	background:url(../imgs/clubIcon.png)
}
.yangShengWineBodyRight li div:first-child{
	position:relative;
}
.yangShengWineBodyRight .ySWineSpan{
	position:absolute;
	top:0px;
	right:0px;
	width:45px;
	height:55px;
	background:url(../imgs/TagBg.png)
}
.yangShengWineBodyRight .ySWineSpan p{
	color:#fff;
	text-align:center;
	font-size:12px;
	}

/*养生酒馆中部右边end*/
/*养生酒馆主体end*/
/*养生酒馆下部start*/
.yangShengWineBottom{
	/*height:200px;*/
	/*background-color:#0f0;*/
	height:160px;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*养生酒馆下部左边start*/
.yangShengWineBottomLeft{
	float:left;
	width:211px;
	/*background-color:#f00;*/

}
.yangShengWineBottomLeft li{
	list-style:none;			
	padding-top:20px;
}
.yangShengWineBottomLeft li i{
	display:inline-block;
	width:3px;
	height:3px;
	background-color:#d02229;
	vertical-align:middle;
	margin:5px;

}
.yangShengWineBottomLeft li span{
	font-size:14px;
	color:#c00;
	font-weight:bold;
	padding:5px;
}

.yangShengWineBottomLeft li a{
	text-decoration:none;
	color:#666;
	font-size:12px;
	padding-left:15px;

}
/*养生酒馆下部左边end*/
/*养生酒馆下部右边start*/
.yangShengWineBottomRight{
	float:left;
	width:985px;
	height:162px;
}

.yangShengWineBottomRightTop{
	line-height:32px;
}
.yangShengWineBottomRightTop-left{
    float:left;
}
.yangShengWineBottomRightTop-left i{
    display:inline-block;
    width:11px;
    height:13px;
    margin:5px;
    vertical-align:middle;
    background:url(../imgs/newIndexIcon-24.png) no-repeat -38px 0px;
	}
.yangShengWineBottomRightTop-left span{
	color:#d43d4e;
	font-size:12px;
	font-weight:bold;
}
.yangShengWineBottomRightTop-right{
	float:right;
}

.yangShengWineBottomRightTop-right a{
   text-decoration:none;
   color:#666;
   font-size:12px;
   padding:0 5px;
}

/*.yangShengWineBottomRightTop-right a:hover{
   text-decoration:underline;
   color:#cc0001;
   
}*/
.yangShengWineBottomRightTop-right span{
	font-size:12px;
	color:#ccc;
}


.yangShengWineBottomRightBottom{
	float:left;
	height:127px;
	display:none;
}
.first{
	display:block;
	/*background-color:#f00;*/
	
}
.yangShengWineBottomRightBottom li{
	float:left;
	height:100px;
	width:197px;
	height:90px;
	list-style:none;
	padding-top:18px;
}
.ySWineImgWarp{
    float:left;
    padding-left:20px;
}
.ySWineImg{
	float:left;
}
.ySWineImg img{
	width:90px;
	height:90px;
	display:block;
}
.ySWineP{
	float:left;
	font-size:12px;
	width:80px;
	line-height:18px;
	padding-top:5px;
	/*white-space:nowrap;*/
}
.ySWineP a{
	text-decoration:none;
	color:#666;
}
.ySWineP a:hover{
	text-decoration:underline;
	color:#cc0001;
}
.ySWinePPrice{
	font-size:15px;
	color:#CD0100;
	margin-top:10px;
}
/*养生酒馆下部右边end*/
/*养生酒馆下部end*/
/*四楼养生酒馆end*/
/*五楼养生酒馆start*/
.food{
	margin:0 auto;
	width:1200px;
	height:539px;
	/*background-color:#f00;*/
}
/*养生酒馆头部start*/
.foodTail{
	height:40px;
	/*background-color:#0f0*/;
}
.foodTailLeft{
	float:left;
	margin-right:916px;
	line-height:40px;
	vertical-align:middle;

}
.foodTailLeft .foodicon{
	display:inline-block;
    height:29px;
    width:28px;
    line-height:29px;
    vertical-align:middle;
    text-align:center;
    margin-right:5px;
    color:#fff;
    font-size:18px;
    font-family:Arial;
    font-style:normal;
    background:url(../imgs/newIndexIcon-24.png) no-repeat 0px -95px;
}
.foodTailRight li{
	display:inline-block;
	float:left;
	list-style:none;
	font-size:12px;
	padding-left:7px;
	line-height:40px;
	vertical-align:middle;
}



.foodTailRight a{
		text-decoration:none;
		color:#999;
}

.foodTailRight a:hover{
		text-decoration:underline;
		color:#f00;
}
/*养生酒馆头部end		*/
/*养生酒馆主体start*/
.foodBody{
	width:1198px;
	height:485px;
	/*background-color:#00c;*/
	border-top:2px solid #c94b56;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*养生酒馆中部左边start*/
.foodBodyLeft{
	width:210px;
	height:485px;
	/*background-color:#eee;*/
	float:left;

}
/*养生酒馆中部左边跑马灯start*/

.mainfood{
	position:relative;
	margin:0 auto;
	/*background:#ccc;*/
	/*outline:3px solid #0ff;*/
	/*height:100px;
	width:200px;*/
	overflow:hidden;
}
.picWarpfood{
	position:absolute;
	/*height:100px;
	width:600px;*/
}

.mainfood img{
	float:left;
	/*height:100px;
	width:200px;*/
}
.mainfood a{
	text-decoration:none;
	color:#000;
   /* padding:5px;*/

}
.activefood{
	background:#f00;
	color:#fff;

}

.picButtonfood{
	position:absolute;
	bottom:15px;
	right:15px;
}
.picButtonfood .hidefood{
	display:none;
}
/*养生酒馆中部左边跑马灯end*/

/*养生酒馆中部左边end*/
/*养生酒馆中部右边end*/

.foodBodyRight{
	width:988px;
	height:485px;
	/*background-color:#0f0;*/
	float:left;
}

.foodBodyRight li{
	float:left;
	list-style:none;
	width:196px;
	height:232px;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	padding-top:10px;


}
.foodBodyRight li img{
	display:block;
}

.foodBodyRight a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.foodBodyRight a:hover{
	color:rgb(205,1,0);
	text-decoration:underline;
}

.foodBodyRight li div:last-child{
	color:rgb(205,1,0);
}
.foodBodyRight .club{
	display:inline-block;
	width:40px;
	height:14px;
	background:url(../imgs/clubIcon.png)
}
.foodBodyRight li div:first-child{
	position:relative;
}
.foodBodyRight .foodSpan{
	position:absolute;
	top:0px;
	right:0px;
	width:45px;
	height:55px;
	background:url(../imgs/TagBg.png)
}
.foodBodyRight .foodSpan p{
	color:#fff;
	text-align:center;
	font-size:12px;
	}

/*养生酒馆中部右边end*/
/*养生酒馆主体end*/
/*养生酒馆下部start*/
.foodBottom{
	/*height:200px;*/
	/*background-color:#0f0;*/
	height:160px;
	border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
/*养生酒馆下部左边start*/
.foodBottomLeft{
	float:left;
	width:211px;
	/*background-color:#f00;*/

}
.foodBottomLeft li{
	list-style:none;			
	padding-top:20px;
}
.foodBottomLeft li i{
	display:inline-block;
	width:3px;
	height:3px;
	background-color:#d02229;
	vertical-align:middle;
	margin:5px;

}
.foodBottomLeft li span{
	font-size:14px;
	color:#c00;
	font-weight:bold;
	padding:5px;
}

.foodBottomLeft li a{
	text-decoration:none;
	color:#666;
	font-size:12px;
	padding-left:15px;

}
/*养生酒馆下部左边end*/
/*养生酒馆下部右边start*/
.foodBottomRight{
	float:left;
	width:985px;
	height:162px;
}

.foodBottomRightTop{
	line-height:32px;
}
.foodBottomRightTop-left{
    float:left;
}
.foodBottomRightTop-left i{
    display:inline-block;
    width:11px;
    height:13px;
    margin:5px;
    vertical-align:middle;
    background:url(../imgs/newIndexIcon-24.png) no-repeat -38px 0px;
	}
.foodBottomRightTop-left span{
	color:#d43d4e;
	font-size:12px;
	font-weight:bold;
}
.foodBottomRightTop-right{
	float:right;
}

.foodBottomRightTop-right a{
   text-decoration:none;
   color:#666;
   font-size:12px;
   padding:0 5px;
}

/*.foodBottomRightTop-right a:hover{
   text-decoration:underline;
   color:#cc0001;
   
}*/
.foodBottomRightTop-right span{
	font-size:12px;
	color:#ccc;
}


.foodBottomRightBottom{
	float:left;
	height:127px;
	display:none;
}
.first{
	display:block;
	/*background-color:#f00;*/
	
}
.foodBottomRightBottom li{
	float:left;
	height:100px;
	width:197px;
	height:90px;
	list-style:none;
	padding-top:18px;
}
.foodImgWarp{
    float:left;
    padding-left:20px;
}
.foodImg{
	float:left;
}
.foodImg img{
	width:90px;
	height:90px;
	display:block;
}
.foodP{
	float:left;
	font-size:12px;
	width:80px;
	line-height:18px;
	padding-top:5px;
	/*white-space:nowrap;*/
}
.foodP a{
	text-decoration:none;
	color:#666;
}
.foodP a:hover{
	text-decoration:underline;
	color:#cc0001;
}
.foodPPrice{
	font-size:15px;
	color:#CD0100;
	margin-top:10px;
}
/*养生酒馆下部右边end*/
/*养生酒馆下部end*/
/*五楼养生酒馆end*/
/*logo墙start*/
.logoWall{
	margin:0 auto;
	width:1200px;
	height:350px;
	position:relative;
	/*background-color:#f00;*/
}
.logoWallHead{
	height:45px;
	width:1200px;
	vertical-align:middle;
	line-height:45px;
	/*background-color:#0f0;*/
    
}

.logoWallHeadLi{
	float:left;
	width:100px;
	text-align:center;
	/*padding-left:15px;
	padding-right:15px;*/
	list-style:none;
}
.logoWallTail{
	padding:15px;
	height:275px;
	position:absolute;
	top:45px;
	left:0px;
	display:none;
	border:1px solid #eee;
}
.logoWallTail:first-child{
	display:block;
}
.logoWallTail li{
	float:left;
	width:180px;
	height:80px;
	margin-right:14px;
	margin-bottom:15px;
	overflow:hidden;
	background-color:#ccc;
	list-style:none;
}
.logoWallTail li img{
	/*display:block;*/
}
.logoOn{
	color:#dd102e;
	border-bottom:2px solid #
}
.slider{
	border-bottom: 2px solid #dd102e;
    height: 7px;
    position: absolute;
    left: 0;
    width: 100px;
    top: 36px;
    text-align: center;
    z-index: 1;
    overflow: hidden;
}


.slider i{
    border-width: 10px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #dd102e;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    height: 0;
    width: 0;
    position:relative;
    top:-17px;
}
/*logo墙end*/
/*品牌精品店start*/
.brandShop{
	margin:10px auto;
	width:1200px;
	height:174px;
	/*background-color:#0f0;*/
}
.brandShopHead{
	height:40px;
	line-height:40px;
}
.brandShopHead span{
	color:rgb(51,51,51);
	font-size:17px;
	margin-left:10px;
	display:inline-block;
	vertical-align:middle;
}
.brandShopHead i{
	display:inline-block;
	width:7px;
	height:18px;
	background-color:#ff9000;
	margin-left:5px;
	vertical-align:middle;
}
.brandShopHeadBox{
	width:1190px;
	height:134px;
	border:1px solid #eee;
    padding:4px;
}
.brandShopHeadBoxTail-head{
	width:107px;
	height:64px;
	background:url(../imgs/bshop/1.jpg) no-repeat center;
	float:left;
}

.secondPic{
	background:url(../imgs/bshop/2.jpg) no-repeat center;
}
.thirdPic{
	background:url(../imgs/bshop/3.jpg) no-repeat center;
}
.fourthPic{
	background:url(../imgs/bshop/4.jpg) no-repeat center;
}
.brandShopHeadBoxTail-tail{
	width:463px;
	height:50px;
	float:left;
}
.brandShopHeadBoxTail-warp{
	float:left;
}
.brandShopHeadBoxTail-tail li{
	float:left;
	padding:5px;
	list-style:none;
	color:rgb(175,175,175);
}
.brandShopHeadBoxTail-tail a{
     font-size:12px;
     color:rgb(175,175,175);
     text-decoration:none;
     cursor:pointer;
}
/*品牌精品店end*/